body {
    background-color: #fff;
    width: max-content;
    max-width: 320px;
}

body > div {
    position: relative;
    top: -10px;
    padding: 0.2rem 1.4rem;
}

body > div > p {
    font-size: 1rem;
    padding: 0;
}

body > div > button {
    margin-top: 1rem;
    margin-left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    font-size: 0.95rem;
    padding: 0.5rem 0.8rem;
    color: white;
    border: none;
    background-color: #2d2d2d;
}

.links {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
